@import "../../../../../sass/materialize-imports.scss";

.next-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

table{
    thead{
        th{
            text-align: center;

        }
    }
}



.image-cell{
    display: flex;
    justify-content: center;
}

.preview-image {
    width: 150px;
    margin-right: 3px;
}


@media #{$small-and-down} {
    .preview-image {
        width: 160px !important;
        height: 90px !important;
    }
}
