<h4>Subir fotos</h4>

<span>Puedes subir hasta un máximo de 10 fotos o 20 Mb.</span>
<div appNgDropFiles [files]="files" [limitFiles]="10" [sizeLimit]="20" (onMouseOver)="estaSobreElemento = $event"
  [ngClass]="{ 'file-over': estaSobreElemento }" class="well drop-zone">
  <h4>Haz click o deja caer las fotos aquí</h4>
  <img src="assets/img/drop-images.png">

  <input id="fileInput" type="file" style="display: none" multiple accept='image/*' #fileInput>

</div>


<div class="row">
<div  *ngFor="let image of files; let i =index" class="col s12 m4 l3">
  <app-photo-preview [photo]="{photo:image, index: i}" (deletePhoto)="delete($event)"></app-photo-preview>
</div>
</div>

<div class="row">
  <div class="col s12 next-button-container">
    <button (click)="goToBackStep()" class="waves-effect waves-light btn btn-secondary">
      <i class="material-icons left">keyboard_arrow_left</i>Atras</button>
  
    <button (click)="goToNextStep()" [disabled]="files?.length === 0" class="waves-effect waves-light btn next-button">
      <i class="material-icons right">keyboard_arrow_right</i>Siguiente</button>
  </div>
</div>