<form [formGroup]="newSuiteStep1Form" (ngSubmit)="goToNextStep()">
  <div class="row">
    <div class="col s12">
      <mz-input-container>
        <input mz-input formControlName="title" required [label]="'Título'" id="title-input" placeholder="Gran recarama en..."
          name="title"  length="150" type="text">
      </mz-input-container>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12 m4">
      <mz-input-container>
        <input mz-input formControlName="price" required [label]="'Precio'" id="price-input" placeholder="1,000" type="number"
          name="price">
      </mz-input-container>
    </div>
    <div class="col s6 m4">
      <mz-select-container>
        <select mz-select formControlName="suiteType" required id="suite-type-select" [placeholder]="'Servicio'" (change)="onSuiteTypeChange($event)">
          <option *ngFor="let type of suiteTypes" class="" 
          [disabled]="type.disabled === true" [selected]="type.selected === true"
          [value]="type.id">{{type.label}}</option>
        </select>
      </mz-select-container>
    </div>
    <div class="col s6 m4">
      <mz-select-container>
        <select mz-select formControlName="propertyType" required id="property-type-select" [placeholder]="'Tipo de propiedad'" (change)="onPropertyTypeChange($event)">
          <option *ngFor="let property of propertyTypes" class="" 
          [disabled]="property.disabled === true" [selected]="property.selected === true"
          [value]="property.id">{{property.label}}</option>
        </select>
      </mz-select-container>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12 next-button-container">
      <button type="submit" [disabled]="newSuiteStep1Form?.invalid" class="waves-effect waves-light btn "><i
          class="material-icons right">navigate_next</i>Siguiente</button>
    </div>
  </div>
</form>