<mz-sidenav #sidenav [id]="'sidenav-demo'" >
  <mz-sidenav-header>
    Sidenav header
  </mz-sidenav-header>
  <mz-sidenav-subheader>Link Subheader</mz-sidenav-subheader>
  <mz-sidenav-link>
    <a href="#">First Link</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a class="waves-effect waves-light btn blue">Iniciar con Facebook</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a class="waves-effect waves-light btn" (click)="googleLogin()">Iniciar con Google</a>
  </mz-sidenav-link>
</mz-sidenav>
