<mz-navbar>
  <a href="#" class="brand-logo center">Recetas MX</a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a routerLink="js">
        <button mz-button>
          Crear receta
        </button>
      </a></mz-navbar-item>
  </mz-navbar-item-container>
  <mz-navbar-item-container [align]="'left'">
    <mz-navbar-item><a href="#">
        <i mz-icon (click)="togleSidenav()" [align]="'right'" [icon]="'menu'" [size]="'large'">
        </i>
      </a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>