<h4>Dirección del lugar </h4>

<form [formGroup]="newSuiteStep3Form" (ngSubmit)="goToNextStep()" autocomplete="off">
    <div class="row">

        <div class="col s6 m6">
            <mz-select-container>
              <select mz-select formControlName="bedrooms"  id="bedrooms-input" [placeholder]="'Recamaras'" name="bedrooms" >
                  <option *ngFor="let bedroom of bedroomsValues" class="" 
                  [value]="bedroom.id">{{bedroom.label}}</option>
              </select>
            </mz-select-container>
          </div>

        <div class="col s6 m6">
            <mz-select-container>
              <select mz-select formControlName="bathrooms" id="bathrooms-input" [placeholder]="'Baños'" name="bathrooms" >
                  <option *ngFor="let bathroom of bathroomsValues" class="" 
                  [value]="bathroom.id">{{bathroom.label}}</option>
              </select>
            </mz-select-container>
          </div>
      
     
      </div>
      
      <div class="row">
        <div class="col s6 m6">
            <mz-select-container>
              <select mz-select formControlName="garages"  id="garages-input" [placeholder]="'Estacionamientos'" name="garages" >
                  <option *ngFor="let garage of garagesValues" class="" 
                  [value]="garage.id">{{garage.label}}</option>
              </select>
            </mz-select-container>
          </div>
      
      <div class="col s6">
        <mz-input-container>
          <input mz-input formControlName="size" [label]="'Metros cuadrados'" [validate]="false" id="size-input" placeholder="50 m"
            type="number" name="size" >
        </mz-input-container>
      </div>
      </div>
      
      <div class="row">
      <div class="col s12">
        <mz-textarea-container>
          <textarea mz-textarea formControlName="description"  [label]="'Descripción'" id="description-textarea"
            placeholder="El departamento tiene una un balcón..." length="300" 
            name="description"  ></textarea>
        </mz-textarea-container>
      </div>
      </div>
      <div class="row">
          <div class="col s12 next-button-container">
            <button (click)="goToBackStep()" class="waves-effect waves-light btn btn-secondary"><i
                class="material-icons left">keyboard_arrow_left</i>Atras</button>
      
            <button type="submit" [disabled]="newSuiteStep3Form.invalid" class="waves-effect waves-light btn next-button"><i
                class="material-icons right">keyboard_arrow_right</i>Siguiente</button>
          </div>
        </div>
</form>

